* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9b9b9b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    text-align: center;
    background-color: black(0.8);
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    box-shadow: -5px 9px 20px rgba(0, 0, 0, 0.5);
    color: white;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid white 2px;
}

h1,h5 {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.links a {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.links a:hover {
    background-color: #d3d2d288;
    transform: scale(1.05);
}

.links a.youtube {
    box-shadow: 5px 5px 10px rgba(218, 20, 20, 0.5); /* Bayangan merah untuk YouTube */
  }

.links a.instagram {
  box-shadow: 5px 5px 10px rgba(193, 53, 132, 0.5); /* Bayangan khas Instagram */
}

.links a.tiktok {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Bayangan hitam untuk TikTok */
}

.links a.discord {
    box-shadow: 5px 5px 10px rgba(114, 137, 218, 0.5); /* Bayangan biru untuk Discord */
}

.links a.facebook {
  box-shadow: 5px 5px 10px rgba(0, 119, 255, 0.5); /* Bayangan biru untuk Facebook */
}

.links a.github {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Bayangan hitam untuk GitHub */
}

.links a.maps {
    box-shadow: 5px 5px 10px rgba(13, 153, 32, 0.5); /* Bayangan hitam untuk Maps */
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .profile-pic {
        width: 80px;
    }

    h1 {
        font-size: 24px;
    }

    h5 {
        font-size: 14px;
    }

    .links a {
        width: 90%;
        padding: 8px 16px;
    }
}

.footer {
    font-size: 11px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}
  